body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: cursive ;
}

h1{
  text-align: center;
}

.toolbox{
  display: flex;
  justify-content: center;
  align-items: center;margin-bottom: 20px;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

canvas{
  background-color: rgb(52, 50, 50);
  border-radius: 20px;
  
}
